/* Base style MOBILE FIRST */
.card {
  /* flex: 0 1; */
  width: calc(50% - 10px);
}

/* Tablet */
@media (min-width: $mantine-breakpoint-sm) {
  .card {
    width: calc(30% - 10px);
  }
}

/* Desktop */
@media (min-width: $mantine-breakpoint-md) {
  .card {
    width: calc(15% - 10px);
  }
}
